{
  "presets": ["@babel/preset-env"], //for compiling ES2015+ syntax
  "env": {
    //in production specify the browsers to use in production
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            //support all the browsers used by more than .25% people and are still supported by their creator
            "targets": ">0.25%, not dead"
          }
        ]
      ]
    }
  }
}
